.content {
  display: flex;
  align-items: center;
  background-color: rgb(240, 233, 234);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

h1,
h2 {
  margin: 55px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
}

.content {
  width: 100%;
  height: 650px;
  overflow: hidden;
  margin: auto;
}

.content img {
  width: 50%;
}