/* Container for the authentication components */
.glam-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f5f7;
}

/* Box containing the form */
.glam-form-box {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 50px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Sign-in form */
.glam-sign-in-box {
  /* Custom styling for sign-in box */
}

.glam-login-form {
  display: flex;
  flex-direction: column;
}

.glam-login-form h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.glam-login-form .glam-social-icons {
  margin: 20px 0;
}

.glam-login-form .glam-social-link {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  width: 40px;
}

.glam-login-form .glam-social-link i {
  font-size: 20px;
  line-height: 40px;
  color: #333333;
}

.glam-login-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.glam-login-form button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.glam-login-form button:active {
  transform: scale(0.95);
}

.glam-login-form button:focus {
  outline: none;
}

.glam-overlay-container {
  position: relative;
}

.glam-overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
  border-radius: 10px;
}

.glam-overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.glam-left-panel {
  transform: translateX(-20%);
}

.glam-right-panel {
  right: 0;
  transform: translateX(0);
}

.glam-ghost {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}