.main {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.product-data {
  text-align: center;
}

.product-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* White background */
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #f06292;
  /* Pinkish color for border bottom */
}

.card-body {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  color: #f06292;
  /* Pinkish color */
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-container {
  display: flex;
  gap: 10px;
  

}

.btns {
  background-color: #bd9ea8;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
  width: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btns:hover {
  background-color: #a18691;
 
}