 *{
  font-family: "DM Sans", sans-serif;
 }
  .navbar {
    background-color: #333;
    padding: 10px 0;
    
  }

  .inner-nav {
    max-width: 800px;
    margin: 0 auto;
    
  }

  .inner-nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    
  }

  .inner-nav a:hover {
    text-decoration: underline;
   
  }
  .useremail{
    color: white;
    margin-left: 640px;
  }