/* App.css */
.navbar {
  background-color: #333333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.navbar ul li {
  display: inline;
  margin-left: 15px;
  padding: 27px;
 
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar li :Hover {
  color: #971717;
}